[submodule "framework-dl/src/mnist"]
	path = MLP-train-framework/src/mnist
	url = https://github.com/wichtounet/mnist.git
[submodule "forward-test/mnist"]
	path = MLP-forward/CPU/src/mnist
	url = https://github.com/wichtounet/mnist
[submodule "forward-test/basic-forward-test-CPU/src/basic-forward-test/mnist"]
	path = MLP-forward/DFE/basic-forward-test-CPU/src/basic-forward-test/mnist
	url = https://github.com/wichtounet/mnist
[submodule "MLP-forward/DFE/tile-forward-test-CPU/src/tile-forward-test/mnist"]
	path = MLP-forward/DFE/tile-forward-test-CPU/src/tile-forward-test/mnist
	url = https://github.com/wichtounet/mnist
[submodule "MLP-forward/DFE/float-forward-test-CPU/src/float-forward-test/mnist"]
	path = MLP-forward/DFE/float-forward-test-CPU/src/float-forward-test/mnist
	url = https://github.com/wichtounet/mnist
[submodule "MLP-forward/DFE/fixed-forward-test-CPU/src/fixed8-forward-test/mnist"]
	path = MLP-forward/DFE/fixed-forward-test-CPU/src/fixed8-forward-test/mnist
	url = https://github.com/wichtounet/mnist.git
